@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --rosaSuave: #FDEBF7;
    --rosaMedio: #FBCAFF;
    --rosaMas: hsl(311, 100%, 84%);
    --rosaFuerte: #FC28FB;

    --fuenteGris: rgb(91,103,132);
}

html {
    box-sizing: border-box;/* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{
    color: black;
    text-decoration: none;
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    background-color: var(--rosaMedio);
    border-radius: 40px;
    padding: 20px;
}

.btn{
    border: none;
    background-color: var(--rosaMas);
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--rosaMedio);
}

.container{
    max-width: 70rem;
    margin: 0 auto;
}

.titulo-seccion{
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--rosaSuave);
}

/* Header */

.header{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 120px;
    background-color: #FFE5F5;
    background-image: url('../images/encabezadodef.png');
    background-repeat: no-repeat;
    background-position: -100px;
    background-size: 70%;
    height: 35vh; 
    width: 100vw;
}

nav{
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 20px;
}

nav a{
    padding: 10px 20px;
    border-radius: 30px;
}

nav a:hover{
    background-color: var(--rosaMas);
    transition: 0.1s ease;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
    list-style: none;
    background-color: var(--rosaFuerte);
    font-weight: 700;
    padding: 3px 10px;
    border-radius: 5px;
    font-size: 20px;
  }

  .mobile-menu li:hover{
    background-color: var(--rosaMas);
    transition: 0.1s ease;
  }
  
  

/* Main */

/* Sobre mi */
.sobre-mi{
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 60px;
}

.foto-sobre-mi{
    width: 400px;
    border-radius: 40px;
}

.sobre-mi-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    line-height: 40px;
}

.sobre-mi-texto h3{
    font-weight: 700;
    margin: 0;
    font-size: 40px;
}

.sobre-mi-texto h4{
    font-weight: 500;
    margin: 5px 0 40px 20px;
    font-size: 20px
}

.sobre-mi-texto li{
    font-size: 18px;
}

.sobre-mi-texto p{
    line-height: 30px;
    margin: 50px 0 0 20px;
    font-style: italic;
}


/* Aside */
aside{
    position: absolute;
    top: 1050px;
    right: 40px;
}

/* Paquetes Disney */
.paquetes{
    margin-top: 100px;
}

.paquetes-disney{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.paquete{
    background-color: white;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 27px 19px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paquete img{
    width: 100%;
    max-height: 50%;
    border-radius: 30px;
}

.texto-paquete{
    line-height: 13px;
}

.fecha{
    color: var(--fuenteGris);
    font-weight: 400;
}

.texto-paquete h3{
    font-size: 26px;
}

.precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precio p{
    color: black;
    font-size: 18px;
}
.precio p span{
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}


/* Novedades */
.novedades{
    margin-top: 100px;
}

.novedades-articulos article{
    font-size: 20px;
}

.foto-articulo{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}
.foto-articulo img{
    max-height: 400px;
    border-radius: 30px;
    max-width: 33%;
}

.fechaarticulo{
    font-size: 18px;
    color: orange;
    font-weight: 700;
    margin-top: 40px;
}

/* Opiniones */
.opiniones{
    margin-top: 100px;
}

.slider{
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 27px 19px rgba(0,0,0,0.1);
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.slider img{
    max-width: 25%;
    border-radius: 30px;
}

.texto-opinion{
    color: rgb(91,103,132);
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}

.autor-opinion{
    color: var(--rosaFuerte);
    font-weight: 700;
}

.autor-opinion span{
    color: black;
}

/* Footer */

.footer{
    margin-top: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0 0;
    padding: 20px 40px 80px 40px;
}

.contacto{
    width: 50%;
    font-size: 20px;
    height: 100%;
    padding-left: 60px;
}

.contacto h2{
    background: none;
    text-align: left;
    color: black;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.contacto img{
    width: 30px;
}

.cont{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.cont p{
    margin: 0 0 0 20px;
}

.redes{
    margin-top: 50px;
    display: flex;
    gap: 50px;
}

.form-footer{
    width: 50%;
}
.form-footer form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-footer form input, .form-footer form textarea{
    height: 40px;
    padding-left: 10px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

.form-footer form textarea{
    resize: vertical;
    height: 80px;
}

.submitbtn{
    border: none;
    cursor: pointer;
    background-color: var(--rosaFuerte);
    color: white;
    font-family: 700;
    text-transform: uppercase;
}
.submitbtn:hover{
    background-color: var(--rosaMas);
}

.derechos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.derechos p{
    margin: 0;
}

/* Media Queries */
@media(max-width: 1500px){

aside{
    right: 0;
}    

}

@media(max-width: 1420px){

    aside{
        display: none;
    }

}

@media(max-width: 768px){

    .container{
        max-width: 90%;
    }

    .header{
        width: 100vw;
        height: 20vh;
        max-width: 100%;
        padding: 0;
        background-size: cover;
        background-position: center;
    }

    .header nav{
        display: none;
    }

    #hamburger-icon {
        display: block;
      }


    .sobre-mi-section{
        display: flex;
        flex-direction: column;
    }

    .sobre-mi-section img{
        max-width: 90%;
    }


    .paquetes-disney{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .paquete{
        width: 95%;
    }

    .texto-paquete{
        line-height: 18px;
    }

    .precio{
        display: block;
        margin-top: 30px;
    }
    .btn{
        width: 100%;
        padding: 15px;
    }

    .slider{
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 10px;
    }

    .slider img{
        max-width: 70%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 10px;
    }
    .contacto{
        width: 100%;
        padding: 0;
    }
    .form-footer{
        width: 100%;
    }
}