@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --rosaSuave: #FDEBF7;
    --rosaMedio: #FBCAFF;
    --rosaMas: #FFADF0;
    --rosaFuerte: #FC28FB;

    --fuenteGris: rgb(91,103,132);
}

html {
    box-sizing: border-box;/* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

a{
    color: black;
    text-decoration: none;
}

h2{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    background-color: var(--rosaMedio);
    border-radius: 40px;
    padding: 20px;
}

.btn{
    border: none;
    background-color: var(--rosaMas);
    font-weight: 700;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover{
    background-color: var(--rosaMedio);
}

.container{
    max-width: 70rem;
    margin: 0 auto;
}

.titulo-seccion{
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--rosaSuave);
}

/* Header */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    background-color: #FFE5F5;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70%;
    height: 35vh; 
    width: 100vw;
}

nav{
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 20px;
}

nav a{
    padding: 10px 20px;
    border-radius: 30px;
}

nav a:hover{
    background-color: var(--rosaSuave);
    transition: 0.5s ease;
}

/* Main */

/* Sobre mi */
.sobre-mi{
    max-width: 55rem;
    margin: 0 auto;
    margin-top: 60px;
}

.foto-sobre-mi{
    width: 400px;
    border-radius: 40px;
}

.sobre-mi-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    line-height: 40px;
}

.sobre-mi-texto h3{
    font-weight: 700;
    margin: 0;
    font-size: 40px;
}

.sobre-mi-texto h4{
    font-weight: 500;
    margin: 5px 0 40px 20px;
    font-size: 20px
}

.sobre-mi-texto li{
    font-size: 18px;
}

.sobre-mi-texto p{
    line-height: 30px;
    margin: 50px 0 0 20px;
    font-style: italic;
}


/* Aside */
aside{
    position: absolute;
    top: 1050px;
    right: 40px;
}

/* Paquetes Disney */
.paquetes{
    margin-top: 100px;
}

.paquetes-disney{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.paquete{
    background-color: white;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 10px 10px 27px 19px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.paquete img{
    width: 100%;
    max-height: 50%;
    border-radius: 30px;
}

.texto-paquete{
    line-height: 13px;
}

.fecha{
    color: var(--fuenteGris);
    font-weight: 400;
}

.texto-paquete h3{
    font-size: 26px;
}

.precio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.precio p{
    color: black;
    font-size: 18px;
}
.precio p span{
    font-weight: 700;
    font-size: 24px;
    margin-left: 5px;
}


/* Novedades */
.novedades{
    margin-top: 100px;
}

/* Opiniones */
.opiniones{
    margin-top: 100px;
}

.slider{
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 27px 19px rgba(0,0,0,0.1);
    padding: 30px;

}

/* Footer */

.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-footer-img{
    width: 150px;
    text-align: center;
}

/* Media Queries */
@media(max-width: 1500px){

aside{
    right: 0;
}    

}

@media(max-width: 1420px){

    aside{
        display: none;
    }

}

@media(max-width: 768px){

    .container{
        max-width: 90%;
    }

    .header{
        width: 100vw;
        height: 20vh;
        max-width: 100%;
        padding: 0;
        background-size: cover;
        background-position: 75%;
    }

    .header nav{
        display: none;
    }


    .sobre-mi-section{
        display: flex;
        flex-direction: column;
    }

    .sobre-mi-section img{
        max-width: 90%;
    }


    .paquetes-disney{
        display: flex;
        flex-direction: column;
    }

    .paquete{
        width: 95%;
    }

    .texto-paquete{
        line-height: 18px;
    }

    .precio{
        display: block;
        margin-top: 30px;
    }
    .btn{
        width: 100%;
        padding: 15px;
    }

    .logo-footer-img{
        max-width: 100px;
    }
}